@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 ps-md-0">
                        <div class="auth-form-wrapper px-4 py-5">
                            <h5 class="text-muted fw-normal mb-4">Lütfen Kaydınızı Oluşturun.</h5>
                            <form class="forms-sample" asp-action="Register" asp-controller="Home" method="post">
                                <div class="mb-3">
                                    <label for="FirstName" class="form-label">Adınız</label>
                                    <input type="text" class="form-control" id="FirstName" asp-for="@Model.FirstName" placeholder="Adınız">
                                </div>   
                                <div class="mb-3">
                                    <label for="LastName" class="form-label">Soyadınız</label>
                                    <input type="text" class="form-control" id="LastName" asp-for="@Model.LastName" placeholder="Soyadınız">
                                </div>   
                                <div class="mb-3">
                                    <label for="PhoneNumber" class="form-label">Telefon</label>
                                    <input type="text" class="form-control" id="PhoneNumber" asp-for="@Model.PhoneNumber" placeholder="Telefon">
                                </div> 
                                <div class="mb-3">
                                    <label for="Email" class="form-label">Email adresi</label>
                                    <input type="email" class="form-control" id="Email" asp-for="@Model.Email" placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <label for="Password" class="form-label">Şifre</label>
                                    <input type="password" class="form-control" id="Password" autocomplete="current-password" placeholder="Şifre" asp-for="@Model.Password">
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Kayıt Oluştur</button>
                                    <a href="~/Home/Login" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                                        Giriş Yap
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}

